.ProseMirror:focus {
  outline: none;
}


.ProseMirror {
    min-height: 200px;
}

.ProseMirror h1 {
    font-size: 36px;
}


.ProseMirror h2 {
    font-size: 30px !important;
}

.ProseMirror p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    color: #9ca3af;
    float: left;
    pointer-events: none;
    height: 0;
}


.view-mode-container img {
    display: block;
    max-width: 100%;
    height: auto;
}

